<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReportIn</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar_nav">
            <a class="brand_logo"><img src='public/icons/reportin.png' alt="Logo"></a>
            <nav class="navbar_link">
                <a href="">Home</a>
                <a href="">News</a>
                <a href="">About Us</a>
                <a href="">FAQ</a>
            </nav>
            <a href="">Login</a>
        </div>
    </header>
    <main>
        <div class="hero_container">
            <div class="onboarding">
                <h2>Lindungi Generasi Kita Dari Bahaya Judi Online</h2>
                <p>Maraknya situs judi online adalah masalah yang serius. 
                    Laporkan situs-situs tersebut dan kita akan mengambil tindakan tegas. Yuk laporkan sekarang!</p>
                <button>Lapor Sekarang</button>
            </div>
            <div class="carousell">
                <img src="../public/icons/reportin.png" alt="berita">
            </div>
        </div>
    </main>
</body>
</html>