*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  
  body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
  }
  section {
    height: 100vh;
  }
  .container {
    height: 100%;
    width: 100%;
  }
  /*navbar*/
  .navbar_nav {
    background-color: #f7f7f7;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 30px;
  }
  .navbar_link a{
    font-weight: 800;
    padding: 20px;
  }
  .brand_logo img{
    max-width: 40px;
  }

  .red {
    background-color: #EE2B47;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    text-align: center;
    padding: 40px 0px 200px 0px;
  }

  .red p {
    margin-bottom: 20px;
    font-size: 28px;
  }
  hr {
    border: 2.5px solid white;
    width: 220px;
    margin: auto;
  }

  .white {
    background-color: white;
    height: 1000px;

  }
.aduan_container{
  display: flex;
  justify-content: center;
  align-items: center;
}



/*navbar*/
.navbar_nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 30px;
}
.navbar_link a{
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  /* border: 2px solid #EE2B47; */
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #EE2B47;
}
.navbar_link a:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #EE2B47;
}

.navbar_link a:active {
  transform: scale(0.9);
}
.brand_logo img{
  max-width: 20px;
}
.login {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 8px 15px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #EE2B47;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #EE2B47;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #EE2B47;
}

.login:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #EE2B47;
}

.login:active {
  transform: scale(0.9);
}
